
@{
    ViewBag.Title = "FetchAPI";
}

<h2>FetchAPI</h2>

<div class="table-responsive">
    <table class="table" id="tblCategorias">
        <thead>
            <tr>
                <th>Cod</th>
                <th>Nombre</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2</td>
                <td>Verduras</td>
                <td>Detalles</td>
            </tr>
        </tbody>
    </table>
</div>

@section script {
    <script src="@Url.Content("~")assets/app/js/ExampleAjax/FetchAPI.js"></script>
}